[submodule "vbench"]
	path = vbench
	url = https://github.com/Vchitect/VBench.git
[submodule "worldmem"]
	path = worldmem
	url = https://github.com/kshitijragoo/WorldMem.git
[submodule "vggt"]
	path = vggt
	url = https://github.com/facebookresearch/vggt.git
[submodule "vmem"]
	path = vmem
	url = https://github.com/kshitijragoo/vmem.git
